
.menubar{
	background-color:black;
	opacity:.8
	border:none;
	border:0px;
	margin:0px;
	padding:0px;
	font: 67.5% "Lucida Sans Unicode", "Bitstream Vera Sans", "Trebuchet Unicode MS", "Lucida Grande", Verdana, Helvetica, sans-serif;
	font-size:14px;
	font-weight:bold;

}

.menubar ul{
	
	background: linear-gradient(to bottom, #0099cc 0%, #66ccff 100%);
	height:50px;
	list-style:none;
	margin:0;
	padding:0;
}

.menubar li{
	float:left;
	padding:0px;
}

.menubar li a{
	background-color:black;
	opacity:.4;  /*changed*/
	height:50px;/*메뉴바 색상 변경*/
	color: black;
	/*color:#cccccc;*/
	display:block;
	font-weight:normal;
	line-height:50px;
	margin:0px;
	padding:0px 25px;
	text-align:center;
	text-decoration:none;
}

.menubar li a:hover, .menubar ul li:hover a{
	background: #fadada;
	color:#FFFFFF;
	text-decoration:none;
}

.menubar li ul{ 
	background: #fadada;
	display:none;
	height:auto;
	padding:0px;
	margin:0px;
	border:0px;
	position:absolute;
	width:200px;
	z-index:200;
}

.menubar li:hover ul{
	display:block;
}

.menubar li li {
	/*changed2*/
	background-color:black;
	opacity:.4; 
	display:block;
	float:none;
	margin:0px;
	padding:0px;
	width:200px;
}

.menubar li:hover li a{
	background:none;
}

.menubar li ul a{
	display:block;
	height:50px;
	font-size:12px;
	font-style:normal;
	margin:0px;
	padding:0px 10px 0px 15px;
	text-align:left;
}

.menubar li ul a:hover, .menubar li ul li:hover a{

	background: #fadada;
	color:#ffffff;
	text-decoration:none;
}

.menubar p{
	
	clear:left;
}

.top p, .top p a{
	
	text-align:center;
	margin:0px;
	height: 15px;
	color:#cccccc;
	text-decoration:none;

}
.top {	
	background-color:black;
	opacity:.8;
	/*background: linear-gradient(to bottom, #0099cc 0%, #66ccff 100%); 
	color: black;*/
	display:block;
	border:none;
	border:0px;
	margin:0px;
	padding:0px;
	height: 50px;
}

.frame1 {
		
	padding-top: 100px;
	width:100%;
	margin: 0 auto;
}

.content {
	
	float:left;
	margin-left:50px;
	padding-bottom: 50px;
	font: 67.5% "Lucida Sans Unicode", "Bitstream Vera Sans", "Trebuchet Unicode MS", "Lucida Grande", Verdana, Helvetica, sans-serif;
	font-size:14px;
	font-weight:bold;
	color:#888888;
}

.content img {
	float:left;
	width : 150px;
	height: 150px;
}
.contents{
	width : 800px;
}
.contents img{
	float: left;
	width: 400px;
	align-content: center;
}
.word{
	float: left;
	width : 350px;
	height: 300px;
	padding-left: 20px;
	font-family: Arial;
	line-height: 1.8em;
}
.frame{
	padding-top: 100px;
	width: 800px;
	margin: 0 auto;
}

.togglebutton { /*laptop/stuent버튼*/
	/*background-color: #FFB6C1;*/
	background: linear-gradient(to bottom, #0099cc 0%, #66ccff 100%);
	border: none;
	color: black;
	padding: 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	border-radius: 50%; 
	height:50px; 
	width:100px;
}
span { 	
	display: inline-block; position: absolute;
}
.phptable tr:hover { 
	background-color: #fadada;
}
.phptable{
	border-collapse: collapse;
	width: 100%;
	
	font-family: monospace;
	text-align: left;
}

.phptable th{
	background-color: #d96459;
	color: white;
	font-size: 12px;
}
.phptable td{
	font-size: 12px;
}
.phptable tr
{
	text-decoration:none ;
}
